<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aggiungi Indirizzo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
  </head>

    <body class="bg-green-400">

    {% include 'components/header.html' %}

        <div class="container mx-auto p-8 max-w-md">
            <h2 class="text-2xl font-bold mb-4">Inserisci Informazioni Indirizzo</h2>
            <h3 class="mb-4" >Innanzitutto inserisci i dati riguardo l'indirizzo:</h3>
                <form action="/indirizzo/aggiungi" method="post" class="space-y-4">

                <!-- Città -->
                <div class="flex flex-col">
                    <label for="citta" class="text-sm font-semibold text-gray-600">Città:</label>
                    <input type="text" id="citta" name="citta" required pattern="[a-zA-Z\s]{1,50}" title="Il campo non accetta numeri e caratteri speciali"
                           class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500">
                </div>

                <!-- Provincia -->
                <div class="flex flex-col">
                    <label for="provincia" class="text-sm font-semibold text-gray-600">Provincia:</label>
                    <input id="provincia" name="provincia" required pattern="[a-zA-Z\s]{1,50}" title="Il campo non accetta numeri e caratteri speciali"
                            class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500">
                </div>

                <!-- Via -->
                <div class="flex flex-col">
                    <label for="via" class="text-sm font-semibold text-gray-600">Via:</label>
                    <input type="text" id="via" name="via" required pattern="^(?=.{1,50}$)[a-zA-Z\s]+,\s(\d+[A-Za-z]?|SNC|snc)$" title="es. Via Roma, 123 (o SNC)"
                           class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500">
                </div>

                <div class="flex flex-col">
                    <label for="cap" class="text-sm font-semibold text-gray-600">Cap:</label>
                    <input type="text" id="cap" name="cap" required pattern="^[0-9]{5}$" title="es. 00100"
                           class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500">
                </div>

                <div class="flex flex-col">
                    <label for="tipo" class="text-sm font-semibold text-gray-600">Tipo:</label>
                    <select id="tipo" name="tipo" required
                            class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500">
                        <option value="Spedizione">Spedizione</option>
                        <option value="Fatturazione">Fatturazione</option>
                    </select>
                </div>

                <!-- Pulsante di invio -->
                <button type="submit" class="bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">Procedi</button>

            </form>
            <!-- Fine del form -->
        </div>

  </body>
</html>
