<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prodotti per Categoria</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href='css/font-awesome-4.7.0/css/font-awesome.min.css'>
</head>
<style>
  html{
    scroll-behavior: smooth;
  }
  #tornaSu {
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    display: none; 
  }
</style>
<body class="bg-gray-100">
  <button id="tornaSu" onclick="tornaSu()">Torna su</button>
{% include 'components/header.html' %}

  <!-- Contenitore per i prodotti -->
  <div class="container mx-auto mt-8 grid grid-cols-3 gap-6" id="products-container">
            {% for prodotto in data %}
            <!-- Prodotto -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                    <a href="/pd?product_id={{prodotto[0]}}">
                    <div class="image aspect-w-1 aspect-h-1"> 
                        <img src="data:image/jpeg;base64,{{ prodotto[10] }}" alt="Prodotto 1" class="w-full h-48 object-cover object-center">
                    </div></a>
                    <div class="p-4">
                            <h2 class="text-xl font-semibold mb-2">{{prodotto[1]}}</h2>
                            <p class="text-gray-600 mb-2 overflow-hidden whitespace-nowrap" id="product-description">{{prodotto[4]}}</p>
                            <p class="text-gray-600 mb-2">{{prodotto[5]}}</p>
                            <p class="text-gray-900 font-semibold text-lg mb-2">{{prodotto[6]}}€</p>
                            <button type="button"
                                    onclick="location.href='/pd?product_id={{prodotto[0]}}'"
                                    class="px-4 py-2 bg-green-500 text-white rounded-md mr-2">Visualizza</button>
                    </div>
            </div>
            {% endfor %}
        </div>
  </div>

  <script>

    // Mostra i prodotti della categoria predefinita all'avvio
    var category = "{{ category }}";
    showProducts(category);
    console.log(category);
    </script>
  <script>
    // Funzione per tornare in cima alla pagina
    function tornaSu() {
      document.body.scrollTop = 0; // Per Safari
      document.documentElement.scrollTop = 0; // Per altri browser
    }

    // Mostra o nascondi il pulsante in base allo scrolling
    window.onscroll = function () {
      mostraNascondiPulsante();
    };

    function mostraNascondiPulsante() {
      var pulsanteTornaSu = document.getElementById("tornaSu");

      if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
      ) {
        pulsanteTornaSu.style.display = "block";
      } else {
        pulsanteTornaSu.style.display = "none";
      }
    }
  
    </script>
  </body>
</html>