<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ data.product_details[1] }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="font-poppins bg-gray-100">
    {% include 'components/header.html' %}
    {% if data %}
    <div class="min-h-screen bg-gray-100">
      <div class="shadow-lg bg-white p-8">
      <div class="text-center mb-8">
        <h2 class="text-3xl font-semibold">Dettagli Prodotto</h2>
      </div>

      <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 mb-8 flex justify-center md:justify-end">
          <div id="slider" class="owl-carousel product-slider owl-theme flex flex-col md:flex-row md:flex-row-reverse items-center md:items-start">
              <!-- Prima immagine grande -->
              <img class="w-70 h-80 mb-4 md:mr-5" src="data:image/jpeg;base64,{{ data.images[0].immagine }}" alt="{{ data.images[0].tipo }}" />
              
              <!-- Altre immagini in una colonna sulla sinistra -->
              <div class="flex flex-col md:ml-5">
                  {% for image in data.images[1:] %}
                  <img class="md:w-12 md:h-12 w-64 h-64 mb-2 md:mr-3" src="data:image/jpeg;base64,{{ image.immagine }}" alt="{{ image.tipo }}" />
                  {% endfor %}
              </div>
          </div>
          <div id="thumb" class="owl-carousel product-thumb owl-theme">
              <!-- Thumbnail images go here -->
          </div>
          <!--RIGA VERTICALE (che se non piace la si toglie)-->
          <div class="hidden md:block border-l border-gray-300 h-full mr-4"></div>
      </div>

        <div class="w-full md:w-1/2 mb-8">
          <div class="product-dtl">
            <div class="product-info">
              <div class="product-name text-2xl font-semibold mb-4">
                {{ data.product_details[1] }}
              </div>
              <div class="product-price-discount">
                <span class="text-lg font-semibold text-green-600"
                  >{{ data.product_details[6] }}€
                  </span>
              </div>
            </div>


            <p class="text-gray-700 text-base leading-6 mt-4">
              {{ data.product_details[4] }}
            </p>
           
            <p class="text-gray-700 text-base leading-6 mt-4">
              {{ data.product_details[7] }}
            </p>

            <div class="flex flex-wrap mt-4">
              <div class="w-full md:w-1/2 mb-4 md:mb-0">
                <label
                  for="size"
                  class="block text-sm font-semibold text-gray-600 mb-1"
                  >Dimensioni</label
                >
                <select
                  id="size"
                  name="size"
                  class="form-select block w-full bg-white border border-gray-300 rounded p-2"
                >
                  {% for size in data.sizes %}
                  <option>{{ size.nome_taglia }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="flex items-center mt-4">
              <label for="quantity" class="mr-2">Quantità</label>
              <div class="flex items-center">
                <button
                  class="qty-btn qtyminus bg-gray-800 text-white w-8 h-8 hover:bg-gray-500"
                  onclick="decrementQty()"
                >
                  -
                </button>
                <input
                  type="text"
                  id="quantity"
                  name="quantity"
                  value="1"
                  class="qty-input border-t border-b border-gray-300 py-1 px-2 w-16 text-center "
                  readonly
                />
                <button
                  class="qty-btn qtyplus bg-gray-800 text-white w-8 h-8 hover:bg-gray-500"
                  onclick="incrementQty()"
                >
                  +
                </button>
              </div>
            </div>

            <a href="#"
            class="mt-6 inline-block bg-gray-800 text-white py-2 px-6 rounded-full transition duration-300 hover:bg-gray-500 md:ml-auto md:mr-auto ">
           Aggiungi al carrello
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
    {% else %}
    <div class="min-h-screen bg-gray-100 flex items-center justify-center">
      <div class="shadow-lg bg-white p-4">
        <div class="text-center mb-4">
          <h2 class="text-2xl font-semibold">Prodotto non trovato</h2>
        </div>
        <p class="text-center text-gray-700 text-base leading-6 mt-2">
          Spiacenti, il prodotto che stai cercando non è disponibile.
        </p>
        <a href="#"
        class="mt-6 inline-block bg-gray-800 text-white py-2 px-6 rounded-full transition duration-300 hover:bg-gray-500 md:ml-auto md:mr-auto ">
       Ritorna Indietro
        </a>
      </div>
    </div>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    {% include 'components/footer.html' %}
    <script>
      function incrementQty() {
        var quantityInput = document.getElementById("quantity");
        quantityInput.value = parseInt(quantityInput.value) + 1;
      }

      function decrementQty() {
        var quantityInput = document.getElementById("quantity");
        if (parseInt(quantityInput.value) > 1) {
          quantityInput.value = parseInt(quantityInput.value) - 1;
        }
      }
        </script>
      </body>
</html>
