<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profilo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/profilo.css') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
  </head>

  <body>
    <div class="container">
      <div id="logo">
        <h1 class="logo">
          <img
            style="width: 33px; height: 39px"
            src="{{ url_for('static', filename='assets/logo.png') }}"
            alt="DressMeNow"
          />
        </h1>
      </div>
      
      <div class="rightbox">
        <div class="orders">

            <div class="oridne" id="ordine">
                <h2>data ordine</h2>
                <input
                  type="text"
                  class="input-text"
                  name="date"
                  value="2023-12-07"
                  readonly
                />
                <h2>Totale</h2>
                <input
                  type="text"
                  class="input-text"
                  name="totale"
                  value="100€"
                  readonly
                />
              </div>
        </div>
        </div>
      </div>
    </div>
    <script src="../../static/js/profilo.js"></script>
    <footer></footer>
  </body>
</html>
