<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profilo</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profilo.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
</head>

<body>
  {% include 'components/header.html' %}

  <div class="container">
    <div id="logo">
      <h1 class="logo">
        <img style="width: 33px; height: 39px" src="{{ url_for('static', filename='assets/logo.png') }}" alt="DressMeNow"></h1>
    </div>



    <div class="leftbox">
      <nav class="nav-profilo">

        <a id="profile" href="#" class="active">
          <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        </a>

        <a id="addresses">
          <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
        </svg>
        </a>

        <a id="orders">
          <i class="fa fa-truck fa-2x" aria-hidden="true"></i>
        </a>

        <a id="avatar">
          <i class="fa fa-male fa-2x" aria-hidden="true"></i>
        </a>

        <a id="settings">
          <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
        </a>
      </nav>
    </div>

    <div class="rightbox2">

      <div class="impostazioni" id="impostazioni">
        <h2>Effettua il logout:</h2>
        <a href="/logout"><button>Esci</button></a>

      
        <h2>Cancella il tuo account</h2>
        <form action="/p/cancella_account" method="post">
          <button type="submit">Elimina</button>
        </form>
    </div>

  </div>
  </div>
  <script src="../../static/js/profilo.js"></script>
  {% include 'components/footer.html' %}

</body>
</html>