<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profilo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/profilo.css') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
  </head>

  <body>
    <div class="container">
      <div id="logo">
        <h1 class="logo">
          <img
            style="width: 33px; height: 39px"
            src="{{ url_for('static', filename='assets/logo.png') }}"
            alt="DressMeNow"
          />
        </h1>
      </div>

      <div class="leftbox">
        <nav>
  
          <a id="profile" href="#">
            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
          </a>
  
          <a id="addresses" class="active">
            <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
          </svg>
          </a>
  
          <a id="orders">
            <i class="fa fa-truck fa-2x" aria-hidden="true"></i>
          </a>
  
          <a id="avatar">
            <i class="fa fa-male fa-2x" aria-hidden="true"></i>
          </a>
  
          <a id="settings">
            <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
          </a>
        </nav>
      </div>

      <div class="rightbox">
        <div class="addresses">
            {% if data %}
            {% for indirizzo in data %}
            <div class="indirizzo indirizzo-attivo" id="indirizzo{{ loop.index0 }}">
              <h1>Indirizzo {{ loop.index }}</h1>
                <h2>Provincia</h2>
                <input
                  type="text"
                  class="input-text"
                  name="Province"
                  value="{{indirizzo[2]}}"
                  readonly
                />
                <h2>Cap</h2>
                <input
                  type="text"
                  class="input-text"
                  name="cap"
                  value="{{indirizzo[3]}}"
                  readonly
                />
                <h2>via</h2>
                <input
                  type="text"
                  class="input-text"
                  name="address"
                  value="{{indirizzo[4]}}"
                  readonly
                />
                <h2>tipo </h2>
                <input
                  type="text"
                  class="input-text"
                  name="type"
                  value="{{indirizzo[5]}}"
                  readonly
                />
                <h2>città</h2>
                <input
                  type="text"
                  class="input-text"
                  name="city"
                  value="{{indirizzo[6]}}"
                  readonly
                />
              </div>
            {% endfor %}
          {% else %}
            <p>Nessun indirizzo trovato per questo utente.</p>
          {% endif %}
        </div>
        </div>
      </div>
    </div>
    <script src="../../static/js/profilo.js"></script>
    <footer></footer>
  </body>
</html>
