<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DressMeNow - Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
</head>

<body class="bg-green-200 font-sans">

    <div class="min-h-screen flex items-center justify-center">

        <form class="bg-white p-8 rounded shadow-md w-full md:w-2/3 lg:w-1/2" action="/login" method="POST">

            <div class="text-center mb-8">
                <a href="#" title="Logo">
                    <img src="../static/assets/Logo.png" alt="Logo" class="w-16 h-16 mx-auto mb-4">
                </a>
                <h1 class="text-2xl font-bold">Accedi</h1>
                <p>Inserisci le tue credenziali!</p>
            </div>

            <div class="mb-4">
                <p class="text-red-500 text-sm">{{ message }}</p>
            </div>

            <div class="mb-4">
                <input type="email" id="email" name="email" class="border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="La tua Email" required>
            </div>

            <div class="mb-4">
                <input id="password" name="password" type="password" class="border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="La tua password" title="Minimo 8 caratteri, di cui una maiuscola ed un numero" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%?&])[A-Za-z\d@$!%?&]{8,}$" required>
            </div>

            <button type="submit" class="w-full bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Login
            </button>

            <div id="error-box" class="mt-4 text-red-500">
                <p class="error-message" id="error-message"></p>
            </div>

            <div class="mt-4 text-center">
                <span>Non hai un account?</span>
                <a href="/registrati" title="Registrati" class="text-green-500 hover:underline">
                    Registrati
                </a>
            </div>

        </form>

    </div>

</body>

</html>
