<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profilo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/profilo.css') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
  </head>

  <body>
    {% include 'components/header.html' %}
    <div class="container">
      <div id="logo">
        <h1 class="logo">
          <img
            style="width: 33px; height: 39px"
            src="{{ url_for('static', filename='assets/logo.png') }}"
            alt="DressMeNow"
          />
        </h1>
      </div>

      <div class="leftbox">
        <nav>
  
          <a id="profile" href="#">
            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
          </a>
  
          <a id="addresses">
            <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
          </svg>
          </a>
  
          <a id="orders" class="active">
            <i class="fa fa-truck fa-2x" aria-hidden="true"></i>
          </a>
  
          <a id="avatar">
            <i class="fa fa-male fa-2x" aria-hidden="true"></i>
          </a>
  
          <a id="settings">
            <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
          </a>
        </nav>
      </div>

      <div class="rightbox">
        <h1>Lista Ordini</h1>
        <div class="orders">

            <div class="ordine" id="ordine">
              {% if data %}
              {% for order in data %}
                <h2>data ordine</h2>
                <h2 class="orders_data">{{ order['order_details']['data_ordine'] }}</h2>
                <h2>Totale</h2>
                <h2 class="orders_data">{{ order['transaction_details']['totale'] }}</h2>          
            </div>
            <div class="orders-info">
              {% for product in order['products'] %}
              <h2 class="orders-infotext-name">Nome:</h2>
              <h2 class="orders-infotext-value">{{ product['nome_prodotto'] }}</h2>
              <h2 class="orders-infotext-name">Quantity:</h2>
              <h2 class="orders-infotext-value">1,5 pezzi</h2>
              <h2 class="orders-infotext-name">pvezzo unitavio:</h2>
              <h2 class="orders-infotext-value">0,500 cents</h2>
              {% endfor %}
            </div>
            {% endfor %}
            {% else %}
          <p>Non sono stati effettuati ordini</p>
      {% endif %}

    </div>
        </div>
        
      </div>
    </div>
    <script src="../../static/js/profilo.js"></script>
    <footer></footer>
  </body>
</html>
