<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profilo</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profilo.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
  </head>

<body>
  <div class="container">
    <div id="logo">
      <h1 class="logo">
        <img style="width: 33px; height: 39px" src="{{ url_for('static', filename='assets/logo.png') }}" alt="DressMeNow"></h1>
    </div>



    <div class="leftbox">
      <nav>

        <a id="profile" href="#" class="active">
          <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        </a>

        <a id="addresses">
          <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
        </svg>
        </a>

        <a id="orders">
          <i class="fa fa-truck fa-2x" aria-hidden="true"></i>
        </a>

        <a id="avatar">
          <i class="fa fa-male fa-2x" aria-hidden="true"></i>
        </a>

        <a id="settings">
          <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
        </a>
      </nav>
    </div>

    <div class="rightbox">
      <div class="profile">
        <h2>Nome</h2>
        <input
                    type="text"
                    class="input-text"
                    name="name"
                    value="{{data[1]}}"
                    readonly
                  />
        <h2>Cognome</h2>
        <input
                    type="text"
                    class="input-text"
                    name="surname"
                    value="{{data[2]}}"
                    readonly
                  />
        <h2>Data di nascita </h2>
        <input
                    type="text"
                    class="input-text"
                    name="date"
                    value="{{data[5]}}"
                    readonly
                  />
        <h2>Numero di telefono</h2>
        <input
                    type="text"
                    class="input-text"
                    name="number"
                   value="{{data[6]}}"
                    readonly
                  />
        <h2>Sesso</h2>
        <input
                    type="text"
                    class="input-text"
                    name="gender"
                    value="{{data[7]}}"
                    readonly
                  />
    </div>
      <div class="addresses noshow">
        <h2>Indirizzo 1</h2>
        <input type="text" class="input-text" value="Descrizione o informazione dettagliata 1" readonly />
        <h2>Indirizzo 2</h2>
        <input type="text" class="input-text" value="Descrizione o informazione dettagliata 2" readonly />
        <h2>Indirizzo 3</h2>
        <input type="text" class="input-text" value="Descrizione o informazione dettagliata 3" readonly />
      </div>
      <div class="settings noshow">
        <h2>AAAA</h2>
        <input type="text" class="input-text" value="Descrizione o informazione dettagliata 1" readonly />
        <h2>BBB 2</h2>
        <input type="text" class="input-text" value="Descrizione o informazione dettagliata 2" readonly />
      </div>
    </div>
  </div>
  <script src="../../static/js/profilo.js"></script>
  <footer>
  </footer>
</body>
</html>