<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DressMeNow - Registrazione</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
</head>

<body class="bg-green-200 font-sans">

    <div class="min-h-screen flex items-center justify-center">

        <form class="bg-white p-8 rounded shadow-md w-full md:w-2/3 lg:w-1/2" action="/registrati" method="post">

            <div class="text-center mb-8">
                <a href="#" title="Logo">
                    <img src="../static/assets/Logo.png" alt="Logo" class="w-16 h-16 mx-auto mb-4">
                </a>
                <h1 class="text-2xl font-bold">Registrati</h1>
                <p>Crea un nuovo account!</p>
            </div>

            <div class="mb-4">
                <p class="text-red-500 text-sm">{{ message }}</p>
            </div>

            <div class="mb-4 grid grid-cols-2 gap-4">
                <div>
                    <input type="text" id="firstName" name="firstName" class="border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Nome" required pattern="[a-zA-Z\s]{1,50}" title="Il nome non rispetta il formato richiesto">
                </div>
                <div>
                    <input type="text" id="lastName" name="lastName" class="border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Cognome" required pattern="[a-zA-Z\s]{1,50}" title="Il cognome non rispetta il formato richiesto">
                </div>
            </div>

            <div class="mb-4">
                <input type="date" id="date" name="dataNascita" class="border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Data di nascita" required>
            </div>

            <div class="mb-4">
                <input type="text" id="numTel" name="NumeroTelefonico" class="border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Numero di telefono" required pattern="^\d{10}$" title="Il numero telefonico non rispetta il formato richiesto">
            </div>

            <div class="mb-4 flex items-center">
                <input type="radio" id="Maschio" name="sesso" class="mr-2" value="uomo" required>
                <label for="Maschio">Maschio</label>
                <input type="radio" id="Femmina" name="sesso" class="ml-8 mr-2" value="donna" required>
                <label for="Femmina">Femmina</label>
            </div>

            <div class="mb-4">
                <input type="email" id="email" name="email" class="border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="La tua Email" required>
            </div>

            <div class="mb-4 grid grid-cols-1 gap-4">
                <div>
                    <input id="password" type="password" name="password" class="border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="La tua password" title="Minimo 8 caratteri, di cui una maiuscola, un numero ed un carattere speciale" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%?&])[A-Za-z\d@$!%?&]{8,}$" required>
                </div>
                <div>
                    <input id="confirmPassword" type="password" name="confirmPassword" class="border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Conferma password" title="Conferma la tua password" required title="Minimo 8 caratteri, di cui una maiuscola, un numero ed un carattere speciale" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%?&])[A-Za-z\d@$!%?&]{8,}$">
                </div>
            </div>

            <button type="submit" class="w-full bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Registrati
            </button>

            <div class="mt-4 text-center">
                <span>Hai già un account?</span>
                <a href="/login" title="Accedi" class="text-green-500 hover:underline">
                    Accedi
                </a>
            </div>

        </form>

    </div>

    <script src="../static/js/registration.js"></script>
</body>

</html>
