<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot Simulator</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <style>
      h1,
      h2 {
        text-align: center;
        margin: 10px;
      }

      h2 {
        font-size: 20px;
      }
      h1 {
        font-size: 30px;
      }
    </style>
  </head>
  <body class="bg-gray-100 font-sans">
    {% include 'components/header.html' %}
    <div class="container mx-auto p-8 max-w-md">
      <h1>Comprendi il mio stile</h1>
      <h2>Come piace vestirti?</h2>
      <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <!-- Chat container -->
        <!-- User input -->

        <img src="{{ url_for('static', filename='assets/ricerca.gif') }}" />
        <form
          id="chat-form"
          action="/risultatiNLP"
          method="post"
          class="p-4 bg-gray-200 flex items-center"
        >
          <input
            type="text"
            id="user-input"
            name="text"
            placeholder="Mi piacciono i colori chiari"
            class="flex-grow px-2 py-1 border rounded-md focus:outline-none focus:ring focus:border-blue-500"
          />
          <button
            type="submit"
            class="ml-2 bg-blue-500 text-white px-4 py-1 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300"
          >
            Invia
          </button>
        </form>
      </div>
    </div>
    {% include 'components/footer.html' %}
  </body>
</html>
