<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ricerca Prodotti</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/typed.js@2.0.12@/css/typed.min.css"
    />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <style>
      h1 {
        margin-bottom: 10px;
      }
      .typewriter {
        overflow: hidden;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: 0.15em;
        animation: typing 5s steps(70);
      }

      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 60%;
        }
      }

      @keyframes blink {
        to {
          visibility: hidden;
        }
      }
      .back {
        position: fixed;
        top: 80%;
        left: 5%;
        margin-top: 5%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  </head>
  <body class="bg-gray-100">
    {% include 'components/header.html' %}

    <div class="w-full mx-auto px-6 py-12">
      <h1 class="typewriter" style="text-align: center">
        Ecco una selezione di prodotti che potrebbe piacerti:
      </h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-6">
        {% if not data %}
          <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
            Ci dispiace, non abbiamo trovato prodotti coerenti al tuo stile
          </h1>
        {% else %}
        {% for prodotto in data %}
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
          <a href="/pd?product_id={{prodotto[0]}}"
            ><div class="aspect-w-1 aspect-h-1">
              <img
                src="data:image/jpeg;base64,{{ prodotto[10] }}"
                alt="Prodotto 1"
                class="w-full h-48 object-cover object-center"
              /></div
          ></a>
          <div class="p-4">
            <h2 class="text-xl font-semibold mb-2">{{prodotto[1]}}</h2>
            <input type="hidden" name="id_prodotto" value="prodotto" />
            <p
              class="text-gray-600 mb-2 overflow-hidden whitespace-nowrap"
              id="product-description"
            >
              {{prodotto[4]}}
            </p>
            <p class="text-gray-600 mb-2">Vestibilità: {{prodotto[5]}}</p>
            <p class="text-gray-900 font-semibold text-lg mb-2">{{prodotto[6]}}€</p>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <a href="/ricercaNLP">
        <svg
          class="back"
          id="black"
          width="50"
          height="50"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M11.69 15.75 7.969 12l3.72-3.75"></path>
          <path d="M8.486 12h7.546"></path>
          <path
            d="M21 12c0-4.969-4.031-9-9-9s-9 4.031-9 9 4.031 9 9 9 9-4.031 9-9Z"
          ></path>
        </svg>
      </a>
    </div>
  </body>
  {% include 'components/footer.html' %}
</html>

<script>
  const description = document.getElementById("product-description");
  const lineHeight = parseInt(window.getComputedStyle(description).lineHeight);
  const maxHeight = lineHeight * 1; // Set the number of lines here (1 line in this case)

  if (description.scrollHeight > maxHeight) {
    description.style.webkitLineClamp = "1"; // Fallback for older Safari
    description.style.overflow = "hidden";
    description.style.textOverflow = "ellipsis";
    description.style.display = "-webkit-box";
    description.style.webkitBoxOrient = "vertical";
  }
</script>
