<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ricerca Prodotti</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/typed.js@2.0.12@/css/typed.min.css"
    />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <style>
      h1 {
        margin-bottom: 10px;
      }
      .typewriter {
        overflow: hidden;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: 0.15em;
        animation: typing 5s steps(70);
      }

      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 60%;
        }
      }

      @keyframes blink {
        to {
          visibility: hidden;
        }
      }
      .back {
        position: fixed;
        top: 70%;
        left: 5%;
        margin-top: 5%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  </head>
  <body class="bg-gray-100">
    {% include 'components/header.html' %}

    <div class="w-full mx-auto px-6 py-12">
      <h1 class="typewriter" style="text-align: center">
        Ecco una selezione di prodotti che potrebbe piacerti:
      </h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-6">
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
          <a href="#"
            ><div class="aspect-w-1 aspect-h-1">
              <img
                src=""
                alt="Prodotto 1"
                class="w-full h-48 object-cover object-center"
              /></div
          ></a>
          <div class="p-4">
            <h2 class="text-xl font-semibold mb-2">prodotto[1]</h2>
            <input type="hidden" name="id_prodotto" value="prodotto" />
            <p
              class="text-gray-600 mb-2 overflow-hidden whitespace-nowrap"
              id="product-description"
            >
              prodotto[4]
            </p>
            <p class="text-gray-600 mb-2">Taglia: prodotto[5]</p>
            <p class="text-gray-900 font-semibold text-lg mb-2">prodotto[6]€</p>
            <button
              type="button"
              onclick="location.href='#'"
              class="px-4 py-2 bg-green-500 text-white rounded-md mr-2"
            >
              Visualizza
            </button>
          </div>
        </div>
        <h1
          style="
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
          "
        >
          Non abbiamo trovato nessun prodotto con questo nome
        </h1>
      </div>
      <a href="/ricercaNLP">
        <svg
          class="back"
          id="back"
          width: 100px;
        height: 100px;
          fill="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21 20.623a.75.75 0 0 1-.592-.289c-1.071-1.372-2.065-2.43-3.436-3.14-1.27-.655-2.863-.997-4.973-1.06v3.739a.75.75 0 0 1-1.265.542l-8.25-7.875a.75.75 0 0 1 0-1.085l8.25-7.875a.75.75 0 0 1 1.265.543V7.89c3.476.16 6.065 1.448 7.704 3.837 1.358 1.979 2.047 4.72 2.047 8.146a.75.75 0 0 1-.75.75Z"
          ></path>
        </svg>
      </a>
    </div>
  </body>
  {% include 'components/footer.html' %}
</html>

<script>
  const description = document.getElementById("product-description");
  const lineHeight = parseInt(window.getComputedStyle(description).lineHeight);
  const maxHeight = lineHeight * 1; // Set the number of lines here (1 line in this case)

  if (description.scrollHeight > maxHeight) {
    description.style.webkitLineClamp = "1"; // Fallback for older Safari
    description.style.overflow = "hidden";
    description.style.textOverflow = "ellipsis";
    description.style.display = "-webkit-box";
    description.style.webkitBoxOrient = "vertical";
  }
</script>
