<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Visualizza Immagini Prodotto</title>
    <link rel="stylesheet" href="../../static/css/aggiungiImg.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"
    />
    <script
      type="text/javascript"
      charset="utf8"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"
    ></script>
  </head>
  <body>
    {% include 'components/headerGestoreProdotto.html' %}
    <h1>Immagini Prodotto</h1>

    {% if message %}
    <div class="mb-4">
      <p class="success-message">{{ message }}</p>
    </div>
    {% endif %}

    <div class="grid-container">
      {% if data %} {% for immagine in data %}
      <div class="image-container">
        <img
          src="data:image/jpeg;base64,{{ immagine[2] }}"
          alt="Immagine Prodotto"
        />
        <button
          class="delete-button"
          onclick="window.location.href='/gp/rimuovi_immagine/{{ immagine[0] }}/{{ immagine[1] }}'"
        >
          Cancella
        </button>
      </div>
      {% endfor %} {% else %}
      <p>Nessuna immagine disponibile per questo prodotto.</p>
      {% endif %}
    </div>

    <form
      action="/gp/aggiungi_immagine"
      method="POST"
      enctype="multipart/form-data"
    >
      <label for="fileInput">Carica un'immagine:</label>
      <input
        type="file"
        id="fileInput"
        name="immagine"
        accept="image/*"
        required
      />

      <input
        type="hidden"
        name="id_prodotto"
        value="{% if data and data[0] %}{{ data[0][1] }}{% endif %}"
        required
      />

      <label>
        <input type="radio" name="tipo_immagine" value="avatar" required />
        Immagine avatar
      </label>
      <label>
        <input
          type="radio"
          name="tipo_immagine"
          value="pagina_prodotto"
          required
        />
        Immagine pagina prodotto
      </label>
      <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md">
        Salva Modifiche
      </button>
      <a
        href="/gestore_prodotto"
        class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md"
        >Torna Indietro</a
      >
    </form>
  </body>
</html>
