<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aggiungi Prodotto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gestore_prodotti.css') }}">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
  </head>

  <body>
    {% include 'components/headerGestoreProdotto.html' %}

    <body class="bg-gray-100">

        <div class="container mx-auto p-8 max-w-md">
            <h2 class="text-2xl font-bold mb-4">Aggiungi taglie al prodotto</h2>
                <form action="/gp/aggiungi_taglia_al_prodotto" method="post" class="space-y-4">

                <!-- Deve innanzitutto displayare le taglie già aggiunte-->
                <h3>Elenco di taglie aggiunte:</h3>
                {% if taglie_impostate%}
                    {% for taglia in taglie_impostate%}
                    <li>
                        Taglia: {{ taglia.nome_taglia }} - Quantità: {{ taglia.quantita }}
                    </li>
                    {% endfor %}
                {% else %}
                    <h4>Non sono state impostate taglie.</h4>
                {% endif %}
                    

                <!-- Poi displaya un select per selezionare una delle taglie id presenti nel DB-->
                <!--TAGLIE DISPONIBILI-->
                    <div class="flex flex-col">
                        <label for="taglia" class="text-sm font-semibold text-gray-600">Seleziona una taglia:</label>
                        <select id="taglia" name="taglia" required
                                class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500">
                                {% for el_taglia in taglie_disponibili%}
                                    <option value="{{ el_taglia[0] }}">{{ el_taglia[1] }} </option>
                                    
                                {% endfor %}
                        </select>
                    </div>

                <!-- da qui poi può aggiungere la quantità-->
                <!-- QUANTITA' -->
                <div class="flex flex-col">
                    <label for="qta" class="text-sm font-semibold text-gray-600">Quantità:</label>
                    <input type="text" id="qta" name="qta" required
                           class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500"
                           placeholder="Inserisci la quantità (esempio: 53)">
                </div>

                <!-- ID_PRODOTTO sneaky sneaky -->
                <input type="hidden" id="id_prodotto" name="id_prodotto" value="{{ id_prodotto }}">
    
                <!-- Pulsante di Aggiungi taglia -->
                <button type="submit" class="bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">Conferma l'aggiunta taglia</button>
                <!-- Pulsante di Termina Aggiunta -->
            </form>
            <!-- Fine del form -->
            <button onclick="window.location.href = '/gestore_prodotto'"class="bg-red-500 text-white p-2 rounded-md hover:bg-red-600 focus:outline-none focus:ring focus:border-red-300">Termina l'aggiunta</button>
    
        </div>
    
  </body>
</html>
