<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pagina del Gestore Prodotto</title>
    <link rel="stylesheet" href="../static/css/gestore_prodotti.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"
    />
    <script
      type="text/javascript"
      charset="utf8"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"
    ></script>
  </head>
  <body>
    {% include 'components/headerGestoreProdotto.html' %}

    <div>
      <div class="container mx-auto my-8 max-w-md">
        <!-- TABELLA -->
        <table id="example" class="display">
          <thead>
            <tr>
              <th>Nome Prodotto</th>
              <th>Prezzo</th>
              <th>Taglia</th>
              <th>Disponibilità</th>
              <th>Modifica dati prodotto</th>
              <th>Aggiungi immagine</th>
            </tr>
          </thead>
          <tbody>
            <!-- Inserisci qui le righe della tabella con i dati dei prodotti -->
            {% for prodotto in prodotti_da_mostrare %} {% for taglia in
            prodotto['taglie'] %}
            <tr>
              <td>{{ prodotto['nome'] }}</td>
              <td>{{ prodotto['prezzo'] }}</td>
              <td>{{ taglia['nometaglia'] }}</td>
              <td>{{ taglia['quantita'] }}</td>
              <td>
                <a
                  href="/gp/mostra_prodotto?product_id={{ prodotto['id_prodotto'] }}"
                >
                  Modifica
                </a>
              </td>
              <td>
                <a
                  href="/gp/visualizza_immagini_prodotto/{{ prodotto['id_prodotto'] }}"
                >
                  Aggiungi immagine
                </a>
              </td>
            </tr>
            {% endfor %} {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("#example").DataTable();
      });
    </script>
  </body>
</html>
