<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pagina del Gestore Ordine</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/css/gestore_ordine.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
</head>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<body>

    <header>
        <h1>Pagina del Gestore Ordine</h1>
        <nav class="navGestoreOrdine">
            <ul>
                <li><a href="/go/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Dashboard</h2>
            <p>Benvenuto nella tua area riservata, Gestore Ordine!</p>
            <table id="myTable" class="display">
                <thead>
                    <tr>
                        <th>ID Ordine</th>
                        <th>Email utente</th>
                        <th>Stato ordine</th>
                        <th>Data ordine</th>
                        <th>Modifica ordine</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders_details %}
                        <tr>
                            <td>{{ order[0] }}</td>
                            <td>{{ order[1] }}</td>
                            <td>{{ order[2] }}</td>
                            <td>{{ order[3] }}</td>
                            <td><a href="/go/visualizza_ordine?id_ordine={{ order[0] }}">Modifica ordine</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        
        </section>
    </main>

<script src="../../static/js/gestore_ordine.js"></script>
</body>

</html>
