<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pagina del Gestore Ordine</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/css/gestore_ordine.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
</head>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

<body>
    <header>
        <h1>Pagina del Gestore Ordine</h1>
        <nav class="navGestoreOrdine">
            <ul>
                <li><a href="/go/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container mx-auto my-8 max-w-md">
            <!-- TABELLA -->
            <table id="example" class="display">
                <thead>
                    <tr>
                        <th>Nome Prodotto</th>
                        <th>Prezzo</th>
                        <th>Taglia</th>
                        <th>Disponibilità</th>
                        <th>Modifica dati prodotto</th>
                        <th>Aggiungi immagine</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders_details %}
                        {% for product in order['products'] %}
                            <tr>
                                <td>{{ product['nome'] }}</td>
                                <td>{{ product['prezzo'] }}</td>
                                <td>{{ product['taglia'] }}</td>
                                <td>{{ product['disponibilita'] }}</td>
                                <td><a href="/go/visualizza_ordine?id_ordine={{ order['id'] }}">Modifica ordine</a></td>
                                <td><a href="/go/aggiungi_immagine_prodotto/{{ product['id_prodotto'] }}">Aggiungi immagine</a></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <script>
        $(document).ready(function () {
            $("#example").DataTable();
        });
    </script>
</body>

</html>
