<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage - DressMeNow</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      html {
        scroll-behavior: smooth;
      }
      #tornaSu {
        z-index: 999;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
        display: none;
      }
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
      h1 {
        font-family: "poppins", sans-serif;
      }
      a {
        font-family: "poppins", sans-serif;
      }
      a:hover {
        text-decoration: underline;
        text-decoration-color: #000000;
        text-decoration-style: solid;
        text-decoration-thickness: 2px;
      }
    </style>
  </head>
  <body class="font-sans bg-gray-100">
    <button id="tornaSu" onclick="tornaSu()">
      <svg
        width="25"
        height="25"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M12 19V5"></path>
        <path d="m5 12 7-7 7 7"></path>
      </svg>
    </button>
    {% include 'components/header.html' %}
    <!-- HTML con classi di Tailwind CSS -->
    <section class="py-12 px-4 bg-#d3d3d3">
      <form
        action="/search"
        method="get"
        class="flex items-center justify-center mt-5 mb-9 w-full max-w-6xl mx-auto"
      >
        <input
          type="text"
          name="product_name"
          placeholder="Cerca prodotto..."
          class="w-2/3 border border-gray-300 px-3 py-1 rounded-l-md focus:outline-none focus:border-blue-500"
        />
        <button
          type="submit"
          class="bg-black text-white px-3 py-1 rounded-r-md"
        >
          <svg
            width="25"
            height="25"
            fill="none"
            stroke="white"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14Z"></path>
            <path d="m21 21-6-6"></path>
          </svg>
        </button>
      </form>
      <div class="max-w-6xl mx-auto grid grid-cols-3 gap-2">
        <!-- Modello 1 -->
        <div class="border border-gray-300 rounded-lg overflow-hidden">
          <img
            src="https://img01.ztat.net/article/spp-media-p1/3985a41b8d8748d5b11c9fef3e1260e0/1d6b54fae2344dc18a6968ce4b60a3a2.jpg?imwidth=1800"
            alt="Modello 1"
            class="w-full h-auto"
          />
        </div>
        <!-- Modello 2 -->
        <div class="border border-gray-300 rounded-lg overflow-hidden">
          <img
            src="https://img01.ztat.net/article/spp-media-p1/81eccce9e55644a986a3e62336788e8d/df0a9a69fa6644c48b03d96470f5bee0.jpg?imwidth=1800"
            alt="Modello 2"
            class="w-full h-88 object-cover"
          />
        </div>
        <!-- Modello 3 -->
        <div class="border border-gray-300 rounded-lg overflow-hidden">
          <img
            src="https://img01.ztat.net/article/spp-media-p1/e6dd613f6ba04e24a63be651f3b41a1f/20c03e63085649dfb3465386c6223b49.jpg?imwidth=1800"
            alt="Modello 3"
            class="w-full h-auto"
          />
        </div>
      </div>
    </section>

    <div class="border-t-4 border-gray-800"></div>
    <!-- Categoria Uomo -->
    <section class="py-12 px-4 bg-blue-200">
      <div class="max-w-6xl mx-auto">
        <h2 class="text-3xl font-semibold mb-6">Categoria uomo</h2>
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
          {% if res_u %} {% for prodotto in res_u %}
          <!-- Prodotto 1 -->
          <div class="bg-white rounded-lg shadow-md overflow-hidden">
              <a href="/pd?product_id={{prodotto[0]}}"
                ><div class="aspect-w-1 aspect-h-1">
                  <img
                    src="data:image/jpeg;base64,{{ prodotto[10] }}"
                    alt="Prodotto 1"
                    class="w-full h-48 object-cover object-center"
                  /></div
              ></a>
              <div class="p-4">
                <h2 class="text-xl font-semibold mb-2">{{prodotto[1]}}</h2>
                <input
                  type="hidden"
                  name="id_prodotto"
                  value="{{prodotto['id_prodotto']}}"
                />
                <p
                  class="text-gray-600 mb-2 overflow-hidden whitespace-nowrap"
                  id="product-description"
                >
                  {{prodotto[4]}}
                </p>
                <p class="text-gray-600 mb-2">Taglia: {{prodotto[5]}}</p>
                <p class="text-gray-900 font-semibold text-lg mb-2">
                  {{prodotto[6]}}€
                </p>
                <button
                  type="button"
                  onclick="location.href='/pd?product_id={{prodotto[0]}}'"
                  class="px-4 py-2 bg-green-500 text-white rounded-md mr-2"
                >
                  Visualizza
                </button>
              </div>
          </div>
          {% endfor %}{% else %}
          <h1>Non abbiamo trovato nessun prodotto in questa Categoria</h1>
          {% endif %}
          <!-- fine prodotti uomo -->
        </div>
        <div class="text-center mt-6">
          <a href="/c?category=uomo">
            <span class="flex items-center">
              Vedi di più
              <span class="ml-1">
                <svg
                  viewBox="0 0 24 24"
                  width="1em"
                  height="1em"
                  fill="currentColor"
                  focusable="false"
                  aria-hidden="true"
                >
                  <path
                    d="M.443 12c0 .414.336.75.75.75h20.869l-7.72 7.72a.75.75 0 0 0 1.06 1.06l7.94-7.94a2.252 2.252 0 0 0 0-3.18l-7.94-7.94a.75.75 0 0 0-1.06 1.06l7.72 7.72H1.192a.75.75 0 0 0-.75.75z"
                  ></path>
                </svg>
              </span>
            </span>
          </a>
        </div>
      </div>
    </section>

    <!-- Categoria Donna -->
    <section class="py-12 px-4 bg-blue-300">
      <div class="max-w-6xl mx-auto">
        <h2 class="text-3xl font-semibold mb-6">Categoria donna</h2>
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
          <!-- Prodotti Donna -->
          {% if res_d %} {% for prodotto in res_d %}
          <!-- Prodotto 1 -->
          <div class="bg-white rounded-lg shadow-md overflow-hidden">
              <a href="/pd?product_id={{prodotto[0]}}"
                ><div class="aspect-w-1 aspect-h-1">
                  <img
                    src="data:image/jpeg;base64,{{ prodotto[9] }}"
                    alt="Prodotto 1"
                    class="w-full h-48 object-cover object-center"
                  /></div
              ></a>
              <div class="p-4">
                <h2 class="text-xl font-semibold mb-2">{{prodotto[1]}}</h2>
                <input
                  type="hidden"
                  name="id_prodotto"
                  value="{{prodotto['id_prodotto']}}"
                />
                <p
                  class="text-gray-600 mb-2 overflow-hidden whitespace-nowrap"
                  id="product-description"
                >
                  {{prodotto[4]}}
                </p>
                <p class="text-gray-600 mb-2">Taglia: {{prodotto[5]}}</p>
                <p class="text-gray-900 font-semibold text-lg mb-2">
                  {{prodotto[6]}}€
                </p>
                <button
                  type="button"
                  onclick="location.href='/pd?product_id={{prodotto[0]}}'"
                  class="px-4 py-2 bg-green-500 text-white rounded-md mr-2"
                >
                  Visualizza
                </button>
              </div>
          </div>
          {% endfor %}{% else %}
          <h1>Non abbiamo trovato nessun prodotto in questa Categoria</h1>
          {% endif %}
          <!-- fine prodotti donna -->
        </div>
        <div class="text-center mt-6">
          <a href="/c?category=donna"
            ><span class="flex items-center">
              Vedi di più
              <span class="ml-1">
                <svg
                  viewBox="0 0 24 24"
                  width="1em"
                  height="1em"
                  fill="currentColor"
                  focusable="false"
                  aria-hidden="true"
                >
                  <path
                    d="M.443 12c0 .414.336.75.75.75h20.869l-7.72 7.72a.75.75 0 0 0 1.06 1.06l7.94-7.94a2.252 2.252 0 0 0 0-3.18l-7.94-7.94a.75.75 0 0 0-1.06 1.06l7.72 7.72H1.192a.75.75 0 0 0-.75.75z"
                  ></path>
                </svg>
              </span>
            </span>
          </a>
        </div>
      </div>
    </section>

    <!-- Categoria Bambino -->
    <section class="py-12 px-4 bg-blue-400">
      <div class="max-w-6xl mx-auto">
        <h2 class="text-3xl font-semibold mb-6">Categoria bambino</h2>
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
          <!-- Prodotti Bambino -->
          {% if res_b %} {% for prodotto in res_b %}
          <!-- Prodotto 1 -->
          <div class="bg-white rounded-lg shadow-md overflow-hidden">
              <a href="/pd?product_id={{prodotto[0]}}"
                ><div class="aspect-w-1 aspect-h-1">
                  <img
                    src="data:image/jpeg;base64,{{ prodotto[9] }}"
                    alt="Prodotto 1"
                    class="w-full h-48 object-cover object-center"
                  /></div
              ></a>
              <div class="p-4">
                <!-- flex flex-col justify-between -->
                <h2 class="text-xl font-semibold mb-2">{{prodotto[1]}}</h2>
                <input
                  type="hidden"
                  name="id_prodotto"
                  value="{{prodotto['id_prodotto']}}"
                />
                <p
                  class="text-gray-600 mb-2 overflow-hidden whitespace-nowrap"
                  id="product-description"
                >
                  {{prodotto[4]}}
                </p>
                <p class="text-gray-600 mb-2">Taglia: {{prodotto[5]}}</p>
                <p class="text-gray-900 font-semibold text-lg mb-2">
                  {{prodotto[6]}}€
                </p>

                <button
                  type="button"
                  onclick="location.href='/pd?product_id={{prodotto[0]}}'"
                  class="px-4 py-2 bg-green-500 text-white rounded-md mr-2"
                >
                  Visualizza
                </button>
              </div>
          </div>
          {% endfor %}{% else %}
          <h1>Non abbiamo trovato nessun prodotto in questa Categoria</h1>
          {% endif %}
          <!-- fine prodotti bambino -->
        </div>
        <div class="text-center mt-6">
          <a href="/c?category=bambino"
            ><span class="flex items-center">
              Vedi di più
              <span class="ml-1">
                <svg
                  viewBox="0 0 24 24"
                  width="1em"
                  height="1em"
                  fill="currentColor"
                  focusable="false"
                  aria-hidden="true"
                >
                  <path
                    d="M.443 12c0 .414.336.75.75.75h20.869l-7.72 7.72a.75.75 0 0 0 1.06 1.06l7.94-7.94a2.252 2.252 0 0 0 0-3.18l-7.94-7.94a.75.75 0 0 0-1.06 1.06l7.72 7.72H1.192a.75.75 0 0 0-.75.75z"
                  ></path>
                </svg>
              </span>
            </span>
          </a>
        </div>
      </div>
    </section>

    <div class="border-t-4 border-gray-800"></div>

    <!-- Sezione pubblicità avatar personalizzato -->
    <section
      class="py-12 px-4 min-h-900 bg-cover bg-center bg-fixed relative"
      style="
        background-image: url('https://static.wikia.nocookie.net/totaldramaisland/images/6/67/Av_creator_2.png');
        background-size: contain;
        min-height: 400px;
      "
    >
      <div
        class="max-w-6xl mx-auto text-center bg-gray-100 bg-opacity-80 py-8 px-6 rounded-lg"
      >
        <h2 class="text-3xl font-semibold mb-4">
          Crea il tuo Avatar Personalizzato
        </h2>
        <p class="text-gray-600 mb-8">
          Descrizione della creazione dell'avatar personalizzato.
        </p>
        <a
          href="/avatar-personalizzato"
          class="inline-block px-6 py-3 bg-blue-500 text-white rounded-md"
          >Crea il tuo Avatar</a
        >
      </div>
    </section>
    {% include 'components/footer.html' %}
    <script>
      // Funzione per tornare in cima alla pagina
      function tornaSu() {
        document.body.scrollTop = 0; 
        document.documentElement.scrollTop = 0;
      }

      // Mostra o nascondi il pulsante in base allo scrolling
      window.onscroll = function () {
        mostraNascondiPulsante();
      };

      function mostraNascondiPulsante() {
        var pulsanteTornaSu = document.getElementById("tornaSu");

        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          pulsanteTornaSu.style.display = "block";
        } else {
          pulsanteTornaSu.style.display = "none";
        }
      }
    </script>
  </body>
</html>
