<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modifica Ordine</title>
    <link rel="stylesheet" href="../static/css/gestore_ordine.css">
</head>

<body>

    <header>
        <h1>Modifica stato dell'ordine</h1>
        <nav class="navGestoreOrdine">
            <ul>
                <li><a href="/go/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Dettagli Ordine</h2>
            <h3>Ordine n: {{ order_details['id_ordine'] }}</h3>
            {% if message %}
                <p class="success-message">{{ message }}</p>
            {% endif %}
            

            <form method="post" action="/go/modifica_ordine">

                <!-- Campi del formulario precaricati con i dati correnti dell'ordine -->
                <label for="stato">Stato dell'Ordine:</label>
                <input type="hidden" name="id_ordine" value="{{ order_details['id_ordine'] }}">
                <select id="nuovo_stato" name="nuovo_stato" required>

                        <option value="In elaborazione" {% if order_details['stato_ordine'] == 'In elaborazione' %}selected{% endif %}>In Elaborazione</option>
                        <option value="Confermato" {% if order_details['stato_ordine'] == 'Confermato' %}selected{% endif %}>Confermato</option>
                        <option value="Spedito" {% if order_details['stato_ordine'] == 'Spedito' %}selected{% endif %}>Spedito</option>
                        <option value="Consegnato" {% if order_details['stato_ordine'] == 'Consegnato' %}selected{% endif %}>Consegnato</option>
                        <option value="Annullato" {% if order_details['stato_ordine'] == 'Annullato' %}selected{% endif %}>Annullato</option>
                    {% if order_details['flag_reso']: %}
                        <option value="Reso richiesto" {% if order_details['stato_ordine'] == 'Reso richiesto' %}selected{% endif %}>Reso richiesto</option>
                        <option value="Reso accettato" {% if order_details['stato_ordine'] == 'Reso accettato' %}selected{% endif %}>Reso accettato</option>
                    {% endif %}
                    </select>

                <input type="submit" value="Salva Modifiche">
            </form>

            <p>Eventuali note reso: {{order_details['note_reso']}}</p>

            {% for product in order_details['prodotti'] %}
            <p>{{ product['nome_prodotto'] }} - {{ product['prezzo'] }}</p>
            {% endfor %}

        </section>
    </main>

</body>

</html>
