<!DOCTYPE html>
<html>
<head>
    <title>Modifica Personale</title>
</head>
<body>
    <h1>Modifica Personale</h1>

    <form action="/d/modifica_personale" method="POST">
        <input type="text" id="tipo_personale" name="tipo_personale" value="{{ personale['tipo_personale'] }}"><br><br>
        <input type="text" id="cognome" name="cognome" value="{{ personale['cognome'] }}"><br><br>
        <input type="email" id="email" name="email" value="{{ personale['email'] }}"><br><br>

        <input type="submit" value="Salva Modifiche">
    </form>
</body>
</html>
