<!DOCTYPE html>
<html>
<head>
    <title>Modifica Personale</title>
</head>
<body>
    <h1>Modifica Personale</h1>

    <form action="{{ url_for('/d/modifica_personale', id_personale=id_personale) }}" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ personale.email }}"><br><br>

        <label for="tipo_personale">Tipo di Personale:</label>
        <input type="text" id="tipo_personale" name="tipo_personale" value="{{ personale.tipo_personale }}"><br><br>

        <input type="submit" value="Salva Modifiche">
    </form>
</body>
</html>
