<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Statistiche per il Direttore</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../static/css/direttore.css">
</head>
  {% include 'components/headerDirettore.html' %}
<body class="bg-gray-100">
    <header>
        <h1>Eccola, Direttore!</h1>
        <nav>
            <ul>
                <li><a href="#dashboard">Dashboard</a></li>
                <li><a href="/d/aggiungi_personale">Aggiunta Personale</a></li>
                <li><a href="statistiche_sito">Statistiche Sito</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

<div class="container mx-auto py-8">
    <div class="bg-white p-6 rounded-md shadow-md">
    <h2 class="text-xl font-bold mb-4">Dati Statistici</h2>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <p class="text-gray-600">Vendite Totali</p>
        <p class="text-2xl font-bold" id="vendite-totali">{{ vendite_totali }}</p>
      </div>
    <div>
        <p class="text-gray-600">Guadagni</p>
        <p class="text-2xl font-bold" id="guadagni">{{ guadagno }}€</p>
    </div>
    <div>
        <p class="text-gray-600">Prodotti Resi</p>
        <p class="text-2xl font-bold" id="prodotti-resi">{{ prodotti_resi }}</p>
    </div>
    <div>
        <p class="text-gray-600">Percentuale Prodotti Resi</p>
        <p class="text-2xl font-bold" id="percentuale-resi">{{ percentuale_resi }}%</p>
    </div>
    </div>
  </div>
</div>

</body>
</html>
